<%- include('partials/head', { 
    title: 'Create',
    currentPage: 'create',
    content: `
        <h1>Página de criação de conteúdo</h1>
        <p>Esta é a página onde seu conteúdo será produzido e postado.</p>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Conteúdo Principal</h5>
                <p class="card-text">ATexto de exemplo</p>
            </div>
        </div>
    `
}) %>